#orderPizza {
  display: none;
}

#orderDetails {
  display: none;
}

#deliveryOptions {
  display: none;
}

#addressForm {
  display: none;
}

#orderDetails h5 {
  text-align: center;
  margin-left: 60%;
}

hr {
  border-top: 1px solid rgb(185, 185, 185);
}

.jumbotron {
  text-align: center;
  background-color: rgb(51, 122, 183);
  color: white;
}

.col-xs-4 {
  display: flex;
  justify-content: center;
}

.col-xs-6 {
  display: flex;
  justify-content: center;
}

h4 {
  text-align: center;
}

.pizza{
  font-weight: bold;
  cursor: pointer;
  color: rgb(51, 122, 183);
}

.pizza:hover {
  text-decoration: underline;
}
